* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.error-input {
  border: 5px solid red;
  background-color: lightpink;
}

.top-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: lightgrey;
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: auto;
  width: 60%;
  height: 60vh;
  border: 2px solid black;
  border-radius: 20px;
  background-color: burlywood;
  padding: 20px;
}

#send-to-charles-button {
  background-color: red;
  color: pink;
  margin-left: 1000px;
}

.dial-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.dial-container input {
  width: 100px;
  background-color: lightyellow;
}

.dial-container button {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: brown;
}

.prompt-display {
  border: 1px solid black;
  width: 80%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  padding: 10px;
}

.bottom-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: lightgrey;
}
